$colour-primary:#9356dc;
$colour-secondary:#FF79DA;
$colour-tertiary:#99e2d0;


* {
    box-sizing: border-box;
    margin: 3% 0;
    padding: 0;
}
body {
    /*background-color: $colour-primary;*/
    width: 100%;
}
h2 {
    padding: 10% 0 5% 5%;
    font-size: 1.3em;
}
h3 {
    font-size: 1.1em;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
header {
    margin-bottom: 3%;
    img {
        width: 50%;
        display: block;
        margin: auto;
    }
}
aside {
    background-color: lightgrey;
    text-align: center;
}
.discover {
    h1 {
        font-size: 1.35em;
        padding-top: 10%;
    padding-bottom: 2%;
    }
    p {
        opacity: 0.7;
    }
}
.marker {
    display: flex;
    justify-content: center;
    border: solid 1px darkgray;
    padding: 3% 0;
    font-weight: bold;
    background-color: darkgray;
    i {
        margin-right: 5%;
        margin-left: -10%;
    }
    p {
        font-size: 1em;
    } 
}
.button {
    color: white;
    background: linear-gradient(to bottom right,$colour-secondary,$colour-primary);
    border-radius: 15px;
    padding: 2%;
    margin: 5% 0 13%;
}

nav {
    margin: 0 5%;
}
.function {
    display: flex;
    align-items: baseline;
    background-color: lightgrey;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9em;
    padding: 2% 0;
    margin-bottom: 4%;
    i {
     padding: 0 10%;
     color: grey;
    }
}
.function_2 {
    @extend.function;
        margin-bottom: 25%;
    }

.fa-store:before {
    font-size: 0.9em;
}
ul {
    list-style-type: none;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color:$colour-primary;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding-top: 1%;
    position: absolute;
    left: 2%;
}

#restaurants {
    background-color: lightgrey;
    margin-bottom: 0;
    padding-bottom: 10%;
}

.container {
    margin: 0 5%;
}
.box_container {
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5%;
}

    img {
        height: 70%;
        width: 100%;
        object-fit: cover;
        margin: 0;
        border-radius: 10px 10px 0 0;
    }
 
.new {
    position: absolute;
    right: 8%;
    background-color: $colour-tertiary;
    font-weight: bold;
    color: darkgreen;
    padding: 1% 3%;
    border-color: $colour-tertiary;
}   
.subtitle {
    margin: 0;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
p {
    margin: 0;
}
.heart {
    padding-right: 6%;
}
.fa-heart:before {
    font-size: 1.2em;
    color: lightgrey;
}

footer {
    background-color: black;
    margin: 0;
    img {
        width: 35%;
        -webkit-filter: invert(1);
        padding: 6% 0;
    }
    i {
        font-size: 0.8em;
    padding-right: 3%;
    margin: 0;
    }
    a {
        color: white;
        list-style-type: none;
        text-decoration: none;
        margin:0;
    }
}
.contact {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 6% 5%;
}
.fa-hands-helping:before {
    font-size: 0.7em;
}
