@import "./Layout/_header.scss";

$colour-primary:#9356dc;
$colour-secondary:#FF79DA;
$colour-tertiary:#99e2d0;
$colour-function:#efd7f6;
$colour-background: #e9e9e9;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /*background-color: $colour-primary;*/
    width: 100%;
    height: 100%;
    margin-top: 5%;
    font-family: 'Roboto', 'sans-serif';
   
}
.logo .small_logo .big_title {
    font-family: 'Shrikhand', 'sans-serif';
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    animation: loader 3s forwards;
    display: flex;
    
  }
  @keyframes loader {
    0% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
/*.spin {
        border-radius: 50px;
        border: 6px solid rgba(26, 20, 20, 0.4);
        width: 50px;
        height: 50px;
        position: absolute;
        animation: spin 1.5s linear infinite;
        -webkit-animation: spin 1.5s linear infinite;
        margin: auto;
        top: -150px;
        bottom: 0;
        right: 0;
        left: 0;
        
    }
    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
    }*/
.loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: flash 1s forwards;
    -webkit-animation: flash 1s forwards;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.letter {
    color:#fff;
    font-size: 100px;
    letter-spacing: 2px;
    font-family: 'Shrikhand';
    animation:  flash 1.5s linear infinite;
    -webkit-animation: flash 1.5s linear infinite;
}
@media screen and (max-width:576px) {
    .letter {
        font-size: 50px;
    }
}
@keyframes flash {
    0% {
        color: $colour-secondary;
        text-shadow: 0 0 7px linear-gradient(to bottom right,$colour-secondary,$colour-primary);

    }
    50% {
        color: $colour-primary;
        text-shadow: 0 0 7px linear-gradient(to bottom right,$colour-secondary,$colour-primary);
    }
    80% {
        color:$colour-secondary;
        text-shadow: none;
    }
    100% {
        color: $colour-primary;
        text-shadow: 0 0 7px linear-gradient(to bottom right,$colour-secondary,$colour-primary);
    }
}
.letter:nth-child(1) {
    animation-delay: 100ms;
  }
.letter:nth-child(2) {
    animation-delay: 200ms;
  }
.letter:nth-child(3) {
    animation-delay: 300ms;
  }
.letter:nth-child(4) {
    animation-delay: 400ms;
  }
.letter:nth-child(5) {
    animation-delay: 500ms;
  }
.letter:nth-child(6) {
    animation-delay: 600ms;
  }
.letter:nth-child(7) {
    animation-delay: 700ms;
  }
.letter:nth-child(8) {
    animation-delay: 800ms;
  }
.letter:nth-child(9) {
    animation-delay: 900ms;
  }
.letter:nth-child(10) {
    animation-delay: 1000ms;
  }
h2 {
    padding: 10% 0 5% 0%;
    font-size: 1.3em;
}
h3 {
    font-size: 1.1em;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
header {
    margin-bottom: 3%;
    img {
        width: 50%;
        display: block;
        margin: auto;
    }
}
aside {
    background-color: $colour-background;
    text-align: center;
}
.discover {
    h1 {
        font-size: 1.35em;
        padding-top: 10%;
    padding-bottom: 2%;
    }
    p {
        opacity: 0.7;
    }
}
.marker {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px darkgray;
    padding: 3% 0;
    font-weight: bold;
    background-color: darkgray;
    i {
        margin-right: 5%;
        margin-left: -10%;
    }
    p {
        font-size: 1em;
    } 
}
.button {
    background: linear-gradient(to bottom right,$colour-secondary,$colour-primary);
    color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 5% 0 13%;
    cursor: pointer;
        &:hover {
            box-shadow: 0 5px 15px 0 $colour-primary;
            filter: brightness(1.1);
        }
}

nav {
    margin: 0 5%;
}
.function {
    display: flex;
    align-items: baseline;
    background-color: $colour-background;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9em;
    padding: 5% 0;
    margin-bottom: 4%;
    i {
     padding: 0 10%;
     color: grey;
    }
    /*&:hover {
        box-shadow: 0 5px 15px 0 #bcc2c6;
        filter: brightness(1.05);
    }*/
}
.function_2 {
    @extend.function;
        margin-bottom: 15%;
    }

.fa-store:before {
    font-size: 0.9em;
}
ul {
    list-style-type: none;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color:$colour-primary;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding-top: 1%;
    position: absolute;
    left: 2%;
    
    }
nav li :hover {
    background-color: $colour-function;
    i {
        color: $colour-primary;
        
    }
    
}

#restaurants {
    background-color: $colour-background;
    margin-bottom: 0;
    padding-bottom: 10%;
}

.container {
    margin: 0 5%;
}
.box_container {
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5%;
}

    img {
        height: 70%;
        width: 100%;
        object-fit: cover;
        margin: 0;
        border-radius: 10px 10px 0 0;
    }
 
.new {
    position: absolute;
    right: 8%;
    background-color: $colour-tertiary;
    font-weight: bold;
    color: darkgreen;
    padding: 1% 3%;
    border-color: $colour-tertiary;
    margin-top: 3%;
}   
.subtitle {
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
p {
    margin: 0;
}
.love .far.fa-heart, .love, .love .fas.fa-heart:hover {
    transition: 0.5s 0s linear;
  }
.love {
    padding-right: 6%;
    cursor: pointer;
    position: relative;

    &.far.fa-heart:hover {
        opacity: 0;
    }
}
.fa-heart:before {
    font-size: 1.2em;
    color: black;
    opacity: 0.8;
}
i.fas.fa-heart {
    opacity: 0;
    position: absolute;
    left: 0;
    &:hover {
        opacity: 1;
        z-index: 999;
        background: linear-gradient($colour-secondary,$colour-primary);
        -webkit-text-fill-color: transparent;
    }
}

footer {
    background-color: black;
    img {
        width: 35%;
        -webkit-filter: invert(1);
        padding: 6% 0;
    }
    i {
        font-size: 0.8em;
    padding-right: 3%;
    margin: 0;
    }
    a {
        color: white;
        list-style-type: none;
        text-decoration: none;
        margin:0;
    }
}
.contact {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.fa-hands-helping:before {
    font-size: 0.7em;
}

/*ajout css pages menu*/

.menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    a {
        margin-left: 5%;
    }
    img {
        margin-right: 25%;
    margin-left: 15%;
    }
}
.main_image {
    img {
        border-radius: 0;
    }
}
#main_section {
    position: relative;
    margin-top: -40px;
    z-index: 2;
    background-color: $colour-background;
    border-radius: 25px;
}
    

.menu_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 10% 2% 5%;
}
.title_menu {
    margin-left: 2%;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1em;
    text-decoration: underline $colour-tertiary 3px;
    text-underline-offset: 6px;
    padding-bottom: 8%;
    
}
.menu_container {
    padding: 0 3%;
    padding-bottom: 1px;
    p {
        font-size: 0.8em;
    }
}
.lunch {
    display: flex;
    flex-direction: column;
    row-gap: 15px;}
    /*animation: meal 2s forwards;

}
@keyframes meal {
    0% {
        transform: translateY(-1);
        opacity: 0;
    }
    100% {
       transform: translateY(0);
        opacity: 1;
    }
}
.lunch:nth-child(1) {
    animation-delay: 0.5s;
}
.lunch:nth-child(2) {
    animation-delay: 1.5s;
}
.lunch:nth-child(3) {
    animation-delay: 2.5s;
}*/

.plats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    height: 60px;
    padding-left: 3%;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover {
        box-shadow: 0 5px 15px 0 #bcc2c6;
        filter: brightness(1.2);
    }
    &.check {
        transform: rotate(180deg);
    }
}

.fade {
    animation: fadeIn 4s forwards;
}
@keyframes fadeIn {
    from {
        transform: scale(0.2);
      }
      to {
        transform: scale(1);
      } }

.fade_1 {
    animation: fadeIn 0.4s;
}
.fade_2 {
    animation: fadeIn 0.8s;
}
.fade_3 {
    animation: fadeIn 1.2s;
}
.fade_4 {
    animation: fadeIn 1.6s;
}
.fade_5 {
    animation: fadeIn 2s;
}
.fade_6 {
    animation: fadeIn 2.4s;
}
.fade_7 {
    animation: fadeIn 2.8s;
}
.fade_8 {
    animation: fadeIn 3.2s;
}
.fade_9 {
    animation: fadeIn 3.6s;
}

@keyframes menu {
    
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(1);
        opacity: 1;
    }
}
.price {
    font-weight: bold;
    font-size: 0.8em;
    padding: 5% 6% 0 3%;
}
.meal {
    font-size: 0.9em;
}
.check {
    /*overflow: hidden;*/
    border-radius: 0 10px 10px 0;
    background-color: $colour-tertiary;
    /*height: 100%;*/
    /*padding: 8% 7%;*/
    padding: 7% 7% 6% 7%;
    right: 3%;
    /*visibility: hidden;*/
    position: absolute;
    & i {
        color:white;
        height: 100%;
    animation: rotate 0.5s both;
    transform: rotate(180deg);
 }
}
@keyframes check {
    0% {
        transform: rotate(-90deg);
      }
      20% {
        transform: rotate(-75deg) scale(1.03);
      }
      40% {
        transform: rotate(-60deg) scale(1.08);
      }
      60% {
        transform: rotate(-45deg) scale(1.15);
      }
      80% {
        transform: rotate(-30deg) scale(1.08);
      }
      100% {
        transform: rotate(5deg) scale(1);
      }
    }

.order {
    display: block;
    margin: auto;
    padding: 3% 12%;
    border-radius: 20px;
    margin-top: 10%;
    cursor: pointer;
    background: linear-gradient(to bottom right,$colour-secondary,$colour-primary);
    color: white;
    margin-bottom: 18%;
        &:hover {
            box-shadow: 0 5px 15px 0 $colour-primary;
            filter: brightness(1.1);
        }
}

main {
   background-color: #eff1f2; 
}
